---
shared-infra_hosts:
    aio1:
        ip: 172.29.236.100
repo-infra_hosts:
    aio1:
        ip: 172.29.236.100
identity_hosts:
    aio1:
        ip: 172.29.236.100
log_hosts:
    aio1:
        ip: 172.29.236.100
haproxy_hosts:
    aio1:
        ip: 172.29.236.100

