---
shared-infra_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
os-infra_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
        affinity:
            horizon_container: 0
storage-infra_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
compute_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
storage_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
        container_vars:
            cinder_backends:
                limit_container_types: cinder_volume
                lvm:
                    volume_group: cinder-volumes
                    volume_driver: cinder.volume.drivers.lvm.LVMVolumeDriver
                    volume_backend_name: LVM_iSCSI
log_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
network_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
haproxy_hosts:
    {{ inventory_hostname }}:
        ip: 172.29.236.100
