# Region Information
cinder_service_region: RegionOne
glance_service_region: RegionOne
heat_service_region: RegionOne
keystone_service_region: RegionOne
neutron_service_region: RegionOne
nova_service_region: RegionOne
swift_service_region: RegionOne

# Regional Service USERS
cinder_service_user_name: RegionOne-cinder
glance_service_user_name: RegionOne-glance
heat_service_user_name: RegionOne-heat
keystone_service_user_name: RegionOne-keystone
neutron_service_user_name: RegionOne-neutron
nova_service_user_name: RegionOne-nova
swift_service_user_name: RegionOne-swift
