# Region Information
cinder_service_region: RegionTwo
glance_service_region: RegionTwo
heat_service_region: RegionTwo
keystone_service_region: RegionTwo
neutron_service_region: RegionTwo
nova_service_region: RegionTwo
swift_service_region: RegionTwo

# Regional Service USERS
cinder_service_user_name: RegionTwo-cinder
glance_service_user_name: RegionTwo-glance
heat_service_user_name: RegionTwo-heat
keystone_service_user_name: RegionTwo-keystone
neutron_service_user_name: RegionTwo-neutron
nova_service_user_name: RegionTwo-nova
swift_service_user_name: RegionTwo-swift
