# Region Information
cinder_service_region: RegionTwo
glance_service_region: RegionTwo
heat_service_region: RegionTwo
keystone_service_region: RegionTwo
neutron_service_region: RegionTwo
nova_service_region: RegionTwo
swift_service_region: RegionTwo

# Regional Service USERS
cinder_service_user_name: RegionTwo-cinder
glance_service_user_name: RegionTwo-glance
heat_service_user_name: RegionTwo-heat
keystone_service_user_name: RegionTwo-keystone
neutron_service_user_name: RegionTwo-neutron
nova_service_user_name: RegionTwo-nova
swift_service_user_name: RegionTwo-swift

# Regional Service NAMES
cinder_service_name: RegionTwo-cinder
cinder_service_v2_name: RegionTwo-cinderv2
glance_service_name: RegionTwo-glance
heat_service_name: RegionTwo-heat
horizon_service_name: RegionTwo-horizon
keystone_service_name: RegionTwo-keystone
neutron_service_name: RegionTwo-neutron
nova_s3_service_name: RegionTwo-s3
nova_v3_service_name: RegionTwo-novav3
nova_v21_service_name: RegionTwo-novav21
nova_service_name: RegionTwo-nova
nova_ec2_service_name: RegionTwo-ec2
swift_service_name: RegionTwo-swift
