# Region Information
cinder_service_region: RegionOne
glance_service_region: RegionOne
heat_service_region: RegionOne
keystone_service_region: RegionOne
neutron_service_region: RegionOne
nova_service_region: RegionOne
swift_service_region: RegionOne

