# Region Information
cinder_service_region: RegionOne
glance_service_region: RegionOne
heat_service_region: RegionOne
keystone_service_region: RegionOne
neutron_service_region: RegionOne
nova_service_region: RegionOne
swift_service_region: RegionOne

# Regional Service USERS
cinder_service_user_name: RegionOne-cinder
glance_service_user_name: RegionOne-glance
heat_service_user_name: RegionOne-heat
keystone_service_user_name: RegionOne-keystone
neutron_service_user_name: RegionOne-neutron
nova_service_user_name: RegionOne-nova
swift_dispersion_user: RegionOne-dispersion
swift_service_user_name: RegionOne-swift

# Regional Service NAMES
cinder_service_name: RegionOne-cinder
cinder_service_v2_name: RegionOne-cinderv2
glance_service_name: RegionOne-glance
heat_service_name: RegionOne-heat
heat_cfn_service_name:  RegionOne-heat-cfn
horizon_service_name: RegionOne-horizon
keystone_service_name: RegionOne-keystone
neutron_service_name: RegionOne-neutron
nova_s3_service_name: RegionOne-s3
nova_v3_service_name: RegionOne-novav3
nova_v21_service_name: RegionOne-novav21
nova_service_name: RegionOne-nova
nova_ec2_service_name: RegionOne-ec2
swift_service_name: RegionOne-swift
