# Region Information
cinder_service_region: RegionTwo
glance_service_region: RegionTwo
heat_service_region: RegionTwo
keystone_service_region: RegionTwo
neutron_service_region: RegionTwo
nova_service_region: RegionTwo
swift_service_region: RegionTwo

